body {
    margin: 0;
    font-family: Georgia, serif;
    background: #f5f1e8;
    color: #222;
}


header {
    background: #111;
    color: white;
    padding: 20px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}


.hero {
    height: 80vh;
    background: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("wood.jpg");

    background-size: cover;
    background-position: center;

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.hero h2 {
    font-size: 55px;
}


.hero p {
    font-size: 22px;
}


button {
    padding: 15px 30px;
    border: none;
    background: #b08d57;
    color: white;
    font-size: 16px;
}


section {
    padding: 60px 10%;
    text-align: center;
}


.cards {
    display: flex;
    gap: 30px;
    justify-content: center;
}


.card {
    background: white;
    padding: 30px;
    width: 250px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}


footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
}
